# Environment variables
.env
.env.*

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
env/
.venv/

# Vercel local project metadata
.vercel/

# Local Vercel/uv build artifacts
pyproject.toml
uv.lock
